body {
  background-image: url("images/back5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  
}

  .floating-button{
    z-index: 1000;
  }
  .container {
    width: 100%;
    position: relative;
    padding-top:0px;
    margin-top: 0px;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
 padding-top: 0px;
 margin-top: 0px;
  }

  .profile-button,.experince-button,.ablities-button,.projects-button,.contact-button{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: black;
    height: 45px;
    width: 105px;
    text-align: center;
    padding-top: 20px;
    border-style: solid;
    border-color: white;
    border: 0.5px;
    font-family: arial;
    font-size: 16px;
  }
  
  .profile-button:hover,.experince-button:hover,.ablities-button:hover,.projects-button:hover,.contact-button:hover{

    opacity: 0.8;
transition: 0.25s;
  }
  .block1{
    background-color: #22A39F;
    width: 1520px;
    height: 790px;
    margin-top: 0px;
    z-index:0;
    opacity: 0.7;
    margin-top: 0px;
    padding-top: 0px;
   font-weight: 200;
    
  }
  @media(max-width: 700px){
    .block1{
background-color: black;

  }
  .block1-p1{
    position: absolute;
    left:250px;
}}
  
  .block2{
   width: 1520px;
    height: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    
    /*opacity: 0.5;*/ 
    margin-top: 0px;
    padding-top: 0px;
    margin:0;
   
padding-right: 0px;
  }
  .block1-p1{
    text-align: center;
    margin: 0;
    font-family: Verdana;
    font-size:70px;
    color:white;
   border-bottom-style: solid;
   position: absolute;
   left: 350px;
   top: 250px; 
   display: inline-block;
    width:950px;
    height: 80px;
    padding-bottom:10px ;
    border-bottom:0.8px solid white;
  }
  
  .block1-p2{
    font-family: Verdana;
    font-size:20px;
    color:white;
    
    position: absolute;
    left:692px ;
    top: 330px;
    height: 24px;
    width:229px;
  }
 
  .floating-button{
    position:fixed;
    right:20px;
    display: flex;
    flex-direction: column;
    flex:1;
    
    padding-top:100px;
  }
  .p1-b2{
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif !important;
text-align: center;
display: inline-block;
border-bottom: 3px;
font-weight: 500;
font-size: 54px;
line-height: 1.2px;
color: #22A39F;
border-bottom-color: white;
border-bottom-style: solid;
position: absolute;
top: 855px;
left: 710px;
margin-bottom: 35px;
}
.p2-b2{
  color:rgb(31, 30, 30);
  display: inline-block;
  position: absolute;
  left: 494px;
  top:880px;
  font-family: 'Open Sans', sans-serif !important;
text-align: center;
font-size: 14px;
font-weight: 100;
  margin-top: 30px;
  width: 600px;
  padding-bottom: 15px;
  border-bottom:0.8px solid rgb(31, 29, 29);
  
}



.hh{
 display:inline-block;
  position: absolute;
 left: 230px;
 top:980px;
 font-size: 28px;
 color:  #22A39F;
 font-family: 'Open Sans', sans-serif !important;
 font-weight:200;
}
  .b2-profile-image{
    height:300px;
    width:300px;
    position: absolute;
    left:610px;
    top:980px;
    border-radius: 150px;
    border-color: rgb(213, 213, 203);
    border-width: 8px;
    border-style: solid;
    }
    .b2-p2{
     display: inline-block;
      position: absolute;
      left:1100px;
      top:980px;
      font-size: 28px;
      color:  #22A39F;
      font-family: 'Open Sans', sans-serif !important;
      font-weight:200;
    }
    .aboutme-desc{
      display: inline-block;
      width:250px;
      position: absolute;
      top:1040px;
      left: 230px;
      font-size: 18px;
      color: #434242;
      line-height: 1.5;
      font-family: 'Open Sans', sans-serif !important;
      font-weight: 80;
    }
    .deet{
      display: inline-block;
      position: absolute;
      left:1100px;
      top:1040px;
    }
     
    
    .name,.age,.location{
      font-family: 'Open Sans', sans-serif !important;
      font-weight:700;
      color: black;
      font-size: 15px;
    }
    .block3{
       
    height: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
    
      background-color:beige;
      padding: 0;
    }
    .exc{
      font-family: 'Open Sans', sans-serif !important;
      color:  #22A39F;
      font-size: 45px;
      position: absolute;
      top:1540px;
      left:650px;
      line-gap-override: 2px;
      margin: 0;
    }
    .tought{
      display: inline-block;
      width: 650px;
      font-family: 'Open Sans', sans-serif !important;
      color:  #5a5f5f;
      font-size: 25px;
      position: absolute;
      top:1605px;
      left:480px;
      font-weight: lighter;
    }
    .tought1{
      display: inline-block;
      width: 650px;
      font-family: 'Open Sans', sans-serif !important;
      color:  #5a5f5f;
      font-size: 25px;
      position: absolute;
      top:1605px;
      left:520px;
      border-bottom: 0.8px solid black;
    }
    .block4{
       
      height: 700px;
      margin-top: 0px;
      margin-bottom: 0px;
      
        background-color: yellow;
        padding: 0;
      }
      .block5
      {
        
        height:300px;
        background-color: gray;
        
        margin-top: 0px;
        margin-bottom: 0px;
        
          
          padding: 0;
      }